* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo-banner {
    display: flex;
    gap: 30px;
    width: 90%;
    max-width: 1300px;
    margin: auto auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}